{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-10">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Add New Stand</h6>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-row">
                        <div class="form-group col-6">
                            {{ form.registration_id.label }}
                            {{ form.registration_id(class_="form-control form-control-user", type="text", placeholder='Locate ID on the bottom of stand', autofocus=true) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-6">
                            {{ form.name.label }}
                            {{ form.name(class_="form-control form-control-user", type="text", placeholder='Nickname Your Device', autofocus=true) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-2">{{ form.submit(class_="btn btn-primary") }}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}