{% extends "base.html" %}
{% block content %}
{% for stand in stands %}
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-{{dc.get_color(stand.status)}} shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-s font-weight-bold text-gray-800 mb-1">{{ stand.name }}</div>
                        <div class="h5 mb-0 font-weight-bold text-uppercase mb-1">
                            <a href="/stands/{{ stand.external_id }}/history" class="text-{{dc.get_color(stand.status)}}">{{ stand.status }}</a>
                        </div>
                        <div class="text-xs font-weight-bold text-gray mb-1">{{ stand.status_date.strftime("%m/%d/%Y %H:%M:%S") }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="{{ dc.get_icon(stand.status) }} text-{{dc.get_color(stand.status)}}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endfor %}
{% endblock %}